
* {
    margin: 0;
    padding: 0;
}

body {
    background:#1C1C1C;  
    /* font-family: 'Playfair Display', serif; */
}

.cabecalho {
align-items: center;
display: flex;
justify-content: space-between;
padding-left: 32px;
padding-right: 32px;
background-color: #800000;

}

.logo {
    padding: 10px 0;
    width: 110px;
    height: 72px; 
}

.nome__logo {
    font-size: 48px;
    font-family: "Pirata One";
    text-align: center;
    margin-top: -10px;
    color: #FFF4E0;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    line-height: 40px;
    padding-left: 160px;
    
}


.menu { 
    font-size: 24px;
}

.menu__lista {
    display: flex;
    
}

.menu__item {
    list-style: none;
    
}

.menu__item:last-child .menu__link {
    margin-right: 0;
}

.menu__link {
    color: #FFF4E0;
    margin-right:20px;
    text-decoration: none;
    text-transform: lowercase;
      
}

.menu__link.ativo  .menu__link {
    color: #F5841A;
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}


.banner {
    overflow: hidden;
    position: relative;
    height: 524px
}

.banner__imagem {
        
    background-position: center;
    background-size: cover;   
}

.banner__imagem img {
    width:100%;
       
}

.banner__titulo {
    color: #FFF;
    text-align: center;
    font-family: "Pirata One";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
}


.sobre {
    text-align: center;
    padding: 40px;
    color: #FFF;
}

.sobre__titulo {
    color: #FFF;
    text-align: center;
    font-family: "Della Respira";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sobre__descricao {
    color: #F2F2F2;
    font-weight: 100;
    font-size: 18px;
    font-family: "Della Respira";
}


.ofertas {
    /* background: #1D2326; */
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0 0 80px
   
}

.oferta {
    
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    margin-right: 80px;
    width: 100%;
    padding: 24px 0 24px 0;
    
}

.oferta__pizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
    margin-bottom: -20px;
    padding: 8px; 
    border-radius: 16px;
    width: calc(33.33% - 40px);
    background: #1D2326;
    position: relative; 
    border: 2px solid #945E06;
   
}

.oferta__imagem {
    width: 262px;
    height: 242px;
    flex-shrink: 0;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%); 
      
}

.oferta__conteudo {
    padding: 16px;
    text-align: center;

}

.oferta__titulo {
    color: #945E06;
    text-align: center;
    font-family: "Pirata One";
    font-size: 30px;
    /* font-style: normal; */
    font-weight: 400;
    line-height: normal;
    margin-top: 126px; 
    padding: 16px;
}

.oferta__descricao {
    
    color: #FFF;
    font-family: "Della Respira";
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 500;
    /* line-height: normal; */
    line-height: 1.5;
    text-align: center;
}

.oferta__preco {
    color: #FFF;
    text-align: center;
    font-family: "Della Respira";
    font-size: 30px;
    /* font-style: normal; */
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
    padding-top: 32px;
}

.oferta__botao {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #FFF;

    color: #FFF;
    text-align: center;
    font-family: "Della Respira";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    margin-bottom: 20px; 
}

.oferta__botao:hover {
    background-color: #FFF; 
    color: #333; 
}


.sobre__nos {
    position: relative;
  
}

.sobre__imagem {
    background-position: center;
    background-size: cover; 
    width:100%;
    display: block;
    
}

.sobre__texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    padding: 20px;

}

.sobre__titulo2 {
    color: #000000;
    font-size: 72px;
    margin-bottom: 48px;
    font-family: "Della Respira"; 
    font-weight: 500; 

}

.sobre__descricao2 {
    color: #000000;
    font-size: 40px;
    margin-bottom: 0; 
    font-family: "Della Respira"; 
    font-weight: 500; 

}







.destaque {
    text-align: center;
    padding: 40px;
}

.titulo__destaques {
    color: #FFF; 
    font-family: "Della Respira";
    font-size: 48px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    width: 100%; 
}

.destaque__todos-combos {
 justify-content: center;
}


.destaque__combos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    width: 100%;
 
}

.destaque__combo1,
.destaque__combo2 {
    display: flex;
    margin-bottom: 32px;
}


.destaque__um,
.destaque__dois,
.destaque__tres,
.destaque__quatro {
    background: #1D2326;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    margin-bottom: 16px;
    border-radius: 16px;
    width: 40%; 
    border: 2px solid #945E06;
 
}

.destaque__um, 
.destaque__tres {
    margin-left: 56px;
}

.destaque__um,
.destaque__dois {
    margin-right: 4%; 
}

.destaque__tres,
.destaque__quatro {
    margin-right: 4%;
}

.destaque__um__flex,
.destaque__dois__flex,
.destaque__tres__flex,
.destaque__quatro__flex {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.destaque__pizza {
    width: 192px;
    height: 192px;
    padding: 16px;
    align-items: center;
}

.destaque__titulo {
    color: #FFF;
    font-family: "Pirata One";
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    width: 293px;
}

.destaque__texto {
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}


.destaque__preco {
    color: #FFC851; 
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    width: 238px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.destaque__texto2 {
    color: #FFF;
    font-family: "Della Respira";
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 16px;
}

.destaque__atencao {
    color: #800000;
    font-family: "Della Respira";
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.ver__sabores {
    display: flex; 
    align-items: center; 
    color: #FFF;
    font-family: "Della Respira";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 16px;
    justify-content: space-evenly;
    width: 50%;
}

.ver__sabores img {
    margin-left: 8px; 
}

.ver__sabores:hover {
    background-color: #FFC851;
    color: #FFF;
}


footer {
    display: flex;
   
}

#first-section {
    display: flex;
    width:33.3%;
}

.footer__imagem {
    height: 32px;
    margin: 32px;
    margin-right: 10px; 

}

.footer#texto__um {
    display: flex;
    flex-direction: column;

}

#second-section {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

.footer__texto {
    color: #FFF;
    font-family: "Della Respira";
    font-size: 18px;
    font-weight: 500; 
    text-align: left;
    margin-top: 32px;
    
}

.footer__texto-destaque{
    color: #FFC851; 
    
}

.footer__descricao {
    color: #5B5E60;
    font-family: "Della Respira";
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    align-items: center;
   
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

#gray-contact .footer__descricao {
    margin-right: 0;
    
}

.imagem__descricao {
   align-items: center;
   
}

.imagem__descricao#traco {
    padding-bottom: 8px;
}

#white-contact {
    display: flex;
    align-items: center;
}

#white-contact .footer__descricao {
    margin-right: 16px;
}

#telefone__contato {
    text-align: center;
}

.contato#white-contact .contato__informacao {
    color: #FFF;
    font-family: "Della Respira";
    font-size: 20px;
    font-weight: 500;
 
}

.contato__informacao {
    color: #FFF;
    font-family: "Della Respira";
    font-size: 20px;
    font-weight: 500;
}

.footer#third-section { 
    display: flex;
    width: 33.3%;
    align-items: end;
    justify-content: end;
    flex-direction: column;
}

.booter__imagem {
    position: absolute;
}

.footer__seta {
    bottom: 0;
    right: 32px;
    background: #FDC95A;
    padding: 8px;
    border-radius:0;

}



